workflows/articles_analysis.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: articles_analysis
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.22@e9e5725768b1d79274bf5dee2052f4d99d736f104cc98dad57392c5b70412502
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1779271952775-source-1779271952776-target
      source: '1779271952775'
      sourceHandle: source
      target: '1779271952776'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1779271952776-source-1779271958329-target
      source: '1779271952776'
      sourceHandle: source
      target: '1779271958329'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1779271958329-source-1779271963764-target
      source: '1779271958329'
      sourceHandle: source
      target: '1779271963764'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1779271963764-source-1779271967929-target
      source: '1779271963764'
      sourceHandle: source
      target: '1779271967929'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 시작
        type: start
        variables:
        - default: ''
          hint: ''
          label: articles
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: articles
      height: 108
      id: '1779271952775'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(articles: str) -> dict:\n    if not articles\
          \ or articles.strip() == \"\":\n        raise ValueError(\"articles가 비어있습니다.\"\
          )\n    try:\n        parsed = json.loads(articles)\n        if not isinstance(parsed,\
          \ list) or len(parsed) == 0:\n            raise ValueError(\"articles가 빈\
          \ 배열입니다.\")\n        if len(parsed) > 30:\n            raise ValueError(\"\
          articles 최대 30건 초과\")\n    except json.JSONDecodeError:\n        raise ValueError(\"\
          articles JSON 파싱 실패\")\n    return {\"articles_validated\": articles}"
        code_language: python3
        outputs:
          articles_validated:
            children: null
            type: string
        selected: false
        title: 입력검증
        type: code
        variables:
        - value_selector:
          - '1779271952775'
          - articles
          value_type: string
          variable: articles
      height: 51
      id: '1779271952776'
      position:
        x: 382
        y: 282
      positionAbsolute:
        x: 382
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: gemini-2.5-pro
          provider: langgenius/gemini/google
        prompt_template:
        - id: 1322af7f-5a4f-4fe1-8a89-20affc221cba
          role: system
          text: 'You are a Korean news article analyzer.

            Analyze each article and return results in JSON format.

            The response must be a valid JSON object containing the key "results".

            You must respond ONLY with a valid JSON object.

            Do not include any explanation, markdown, or text outside the JSON.

            The word "json" is included in this prompt for format compliance.'
        - id: 86c0393a-14e1-4dd9-ab41-e3d2b209e94a
          role: user
          text: "아래 기사 목록을 분석해서 각 기사의 감성과 홍보성 여부를 판단해줘.\n\n기사 목록: {{#1779271952776.articles_validated#}}\n\
            \n각 기사에 대해 다음 기준으로 분석해:\n\n[감성 분석 기준 - sentiment]\n- \"긍정\": 기사 전체 논조가\
            \ 긍정적 (성장, 성과, 호재 등)\n- \"부정\": 기사 전체 논조가 부정적 (하락, 사고, 악재 등)\n- \"중립\"\
            : 사실 전달 위주이거나 논조가 혼재\n\n[홍보성 분류 기준 - is_promotion]\n- true: 특정 제품/서비스/기업\
            \ 홍보가 주목적인 보도자료성 기사\n- false: 독립적 취재 또는 사실 보도 기사\n\n반드시 아래 JSON 형식으로만\
            \ 응답해:\n{\n  \"results\": [\n    {\n      \"article_id\": 101,\n     \
            \ \"sentiment\": \"중립\",\n      \"is_promotion\": false\n    },\n    {\n\
            \      \"article_id\": 102,\n      \"sentiment\": \"긍정\",\n      \"is_promotion\"\
            : true\n    }\n  ]\n}"
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1779271958329'
      position:
        x: 682
        y: 282
      positionAbsolute:
        x: 682
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "import json\nimport re\n\ndef main(arg1: str) -> dict:\n    text =\
          \ arg1.strip()\n    \n    # 리터럴 \\n 을 실제 줄바꿈으로 변환\n    text = text.replace('\\\
          \\n', '\\n')\n    \n    # 마크다운 펜스 제거\n    text = re.sub(r'```json|```',\
          \ '', text).strip()\n    \n    # JSON 블록 추출\n    match = re.search(r'\\\
          {.*\\}', text, re.DOTALL)\n    if not match:\n        return {\"results\"\
          : \"[]\"}\n    \n    try:\n        parsed = json.loads(match.group())\n\
          \    except json.JSONDecodeError:\n        return {\"results\": \"[]\"}\n\
          \    \n    results_raw = (\n        parsed.get(\"results\") or\n       \
          \ parsed.get(\"결과\") or\n        []\n    )\n    \n    results = []\n   \
          \ for item in results_raw:\n        article_id = (\n            item.get(\"\
          article_id\") or\n            item.get(\"기사id\") or\n            item.get(\"\
          기사_id\")\n        )\n        \n        sentiment = (\n            item.get(\"\
          sentiment\") or\n            item.get(\"감성\") or\n            \"분석실패\"\n\
          \        )\n        if sentiment not in [\"긍정\", \"부정\", \"중립\"]:\n    \
          \        sentiment = \"분석실패\"\n        \n        is_promotion = item.get(\"\
          is_promotion\")\n        if is_promotion is None:\n            is_promotion\
          \ = item.get(\"홍보성\")\n        if is_promotion is not None:\n          \
          \  is_promotion = bool(is_promotion)\n        \n        if article_id is\
          \ not None:\n            results.append({\n                \"article_id\"\
          : article_id,\n                \"sentiment\": sentiment,\n             \
          \   \"is_promotion\": is_promotion\n            })\n    \n    return {\"\
          results\": json.dumps(results, ensure_ascii=False)}"
        code_language: python3
        outputs:
          results:
            children: null
            type: string
        selected: false
        title: 코드
        type: code
        variables:
        - value_selector:
          - '1779271958329'
          - text
          value_type: string
          variable: arg1
      height: 51
      id: '1779271963764'
      position:
        x: 983
        y: 282
      positionAbsolute:
        x: 983
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '1779271963764'
          - results
          value_type: string
          variable: results
        selected: false
        title: 출력
        type: end
      height: 88
      id: '1779271967929'
      position:
        x: 1284
        y: 282
      positionAbsolute:
        x: 1284
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: 270.5
      y: 82
      zoom: 1
  rag_pipeline_variables: []
