workflows/importance_scoring.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: importance_scoring
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.22@e9e5725768b1d79274bf5dee2052f4d99d736f104cc98dad57392c5b70412502
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1774524091887-source-1774607960090-target
      source: '1774524091887'
      sourceHandle: source
      target: '1774607960090'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1775742352885-source-1778247458121-target
      source: '1775742352885'
      sourceHandle: source
      target: '1778247458121'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1778247458121-source-1774524091887-target
      source: '1778247458121'
      sourceHandle: source
      target: '1774524091887'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1774507020143-source-1778581060421-target
      source: '1774507020143'
      sourceHandle: source
      target: '1778581060421'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1778581060421-source-1775742352885-target
      source: '1778581060421'
      sourceHandle: source
      target: '1775742352885'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 시작
        type: start
        variables:
        - default: ''
          hint: ''
          label: user_id
          options: []
          placeholder: ''
          required: true
          type: number
          variable: user_id
        - default: ''
          hint: ''
          label: articles
          max_length: null
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: articles
        - default: ''
          hint: ''
          label: feedback_history
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: feedback_history
      height: 161
      id: '1774507020143'
      position:
        x: 152.90237107350447
        y: 290.39350165619766
      positionAbsolute:
        x: 152.90237107350447
        y: 290.39350165619766
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(llm_output: str) -> dict:\n    import json, re\n\n    if not\
          \ llm_output or not llm_output.strip():\n        return {\"items\": []}\n\
          \n    # 마크다운 코드블록 및 앞뒤 텍스트 제거\n    text = re.sub(r'```json|```', '', llm_output).strip()\n\
          \n    # JSON 객체 추출 (가장 바깥쪽 중괄호 기준)\n    match = re.search(r'\\{[\\s\\S]*\\\
          }', text)\n    if not match:\n        return {\"items\": []}\n\n    try:\n\
          \        parsed = json.loads(match.group())\n    except json.JSONDecodeError:\n\
          \        # 마지막 수단: 불완전 JSON 복구 시도\n        try:\n            partial = match.group().rstrip(',')\
          \ + '}'\n            parsed = json.loads(partial)\n        except Exception:\n\
          \            return {\"items\": []}\n\n    # items 키 유연하게 탐색\n    items\
          \ = parsed.get(\"items\") or parsed.get(\"articles\") or parsed.get(\"results\"\
          ) or []\n    if not isinstance(items, list):\n        return {\"items\"\
          : []}\n\n    importance_map = {\"high\": 80, \"medium\": 50, \"low\": 20}\n\
          \    result = []\n\n    for item in items:\n        if not isinstance(item,\
          \ dict):\n            continue\n\n        # score 처리\n        score = item.get(\"\
          score\", 50)\n        try:\n            score = int(float(score))\n    \
          \    except (ValueError, TypeError):\n            score = importance_map.get(str(item.get(\"\
          importance\", \"\")).lower(), 50)\n\n        # article_id 타입 보정\n      \
          \  article_id = item.get(\"article_id\")\n        try:\n            article_id\
          \ = int(article_id) if article_id is not None else None\n        except\
          \ (ValueError, TypeError):\n            article_id = str(article_id) if\
          \ article_id is not None else None\n\n        # reason 처리\n        reason\
          \ = str(item.get(\"reason\", \"\")).strip()\n        if not reason:\n  \
          \          reason = \"이유 없음\"\n\n        result.append({\n            \"\
          article_id\": article_id,\n            \"score\": max(1, min(100, score)),\n\
          \            \"reason\": reason\n        })\n\n    return {\"items\": result}"
        code_language: python3
        outputs:
          items:
            children: null
            type: array[object]
        selected: false
        title: 코드2
        type: code
        variables:
        - value_selector:
          - '1778247458121'
          - text
          value_type: string
          variable: llm_output
      height: 52
      id: '1774524091887'
      position:
        x: 1363.5594249525564
        y: 311.39350165619766
      positionAbsolute:
        x: 1363.5594249525564
        y: 311.39350165619766
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1774524091887'
          - items
          value_type: array[object]
          variable: items
        selected: false
        title: 출력
        type: end
      height: 88
      id: '1774607960090'
      position:
        x: 1717.1475211723805
        y: 311.39350165619766
      positionAbsolute:
        x: 1717.1475211723805
        y: 311.39350165619766
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.3
          mode: chat
          name: gemini-2.5-pro
          provider: langgenius/gemini/google
        prompt_template:
        - id: bd84d7ff-0925-4b10-ad86-a5c46050560f
          role: system
          text: '당신은 뉴스 중요도 분석 전문가입니다.

            입력된 기사 목록에 대해 각 기사별로 아래 3가지 항목을 분석하세요.


            [분석 항목]

            1. 영향 범위: 이 기사가 영향을 미치는 대상의 규모 (개인 / 지역 / 국가 / 글로벌)

            2. 시급성: 현재 진행 중인 사안인지, 즉각적 대응이 필요한지 여부

            3. 파급력: 경제·정치·사회적으로 연쇄 반응이나 실질적 결과(정책 변화, 시장 영향, 인명 피해 등)가 수반되는지


            [출력 형식]

            각 기사를 아래 형식으로 분석하세요. JSON 없이 텍스트로만 출력합니다.


            article_id: {id}

            - 영향 범위: ...

            - 시급성: ...

            - 파급력: ...

            - 종합 판단: ... (1~2문장으로 이 기사의 중요도를 종합적으로 평가)


            article_id: {id}

            - 영향 범위: ...

            ...'
        - id: f8c15cf5-129d-4f36-b10c-f93e6b598093
          role: user
          text: '[기사 목록 JSON]

            {{#1774507020143.articles#}}'
        selected: false
        title: LLM-분석
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1775742352885'
      position:
        x: 728.8640592230349
        y: 311.39350165619766
      positionAbsolute:
        x: 728.8640592230349
        y: 311.39350165619766
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: gemini-2.5-pro
          provider: langgenius/gemini/google
        prompt_template:
        - id: 315eb913-a9ab-4bbd-a9c7-62c379c939be
          role: system
          text: '---


            [사용자 맞춤 보정 규칙 — 기본 기준보다 우선 적용]


            아래 [사용자 피드백 이력]이 비어있지 않은 경우,

            반드시 아래 절차를 따르세요.


            [피드백 해석 방법]

            - delta 양수: 사용자가 해당 유형의 기사를 중요하게 봄 → 유사 기사 점수 올려야 함

            - delta 음수: 사용자가 해당 유형의 기사를 덜 중요하게 봄 → 유사 기사 점수 내려야 함

            - reason: 사용자가 직접 설명한 조정 이유 → 어떤 유형의 기사인지 파악하는 핵심 근거


            [보정 폭 기준]

            - delta 절댓값 30 이상 → ±20점 보정

            - delta 절댓값 15~29 → ±15점 보정

            - delta 절댓값 14 이하 → ±10점 보정


            [적용 절차]

            1. 각 피드백의 reason을 읽고 어떤 유형의 기사인지 파악

            2. 현재 스코어링할 기사 본문과 대조하여 유사한 유형인지 판단

            3. 유사하면 delta 방향과 보정 폭 기준에 따라 점수 보정

            4. 보정 후 1~100 범위 클램핑

            5. 점수 분산 규칙(최고-최저 차이 30점 이상)은 보정 후에도 유지

            6. 패턴과 무관한 기사는 기본 기준으로만 산정


            [비어있을 때]

            [사용자 피드백 이력]이 "[]"이면 이 섹션 전체를 무시하고

            기본 기준만 적용하세요.


            출력 형식:

            {"items": [{"article_id": 101, "score": 85, "reason": "한국어 이유"}, {"article_id":
            102, "score": 42, "reason": "한국어 이유"}]}'
        - id: 49ccc579-0606-4c6a-8f74-0d8e8d7648ef
          role: user
          text: "[기사 분석 결과]; {{#1775742352885.text#}}\n\n[기사 목록 JSON]; {{#1774507020143.articles#}}\n\
            \n [사용자 피드백 이력]: {{#1778581060421.filtered_feedback#}}\n\n위 분석 결과를 참고하여\
            \ 각 기사의 점수를 산정하고 JSON만 반환하세요.\n\n[출력]"
        selected: false
        title: LLM-점수산출
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1778247458121'
      position:
        x: 1027.1555053940174
        y: 311.39350165619766
      positionAbsolute:
        x: 1027.1555053940174
        y: 311.39350165619766
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(feedback_history: str) -> dict:\n    import json\n\n    if\
          \ not feedback_history or not feedback_history.strip():\n        return\
          \ {\n            \"filtered_feedback\": \"[]\",\n            \"has_feedback\"\
          : False\n        }\n\n    try:\n        feedbacks = json.loads(feedback_history)\n\
          \    except Exception:\n        return {\n            \"filtered_feedback\"\
          : \"[]\",\n            \"has_feedback\": False\n        }\n\n    if not\
          \ isinstance(feedbacks, list) or len(feedbacks) == 0:\n        return {\n\
          \            \"filtered_feedback\": \"[]\",\n            \"has_feedback\"\
          : False\n        }\n\n    # 최근 15건만 유지 (메인 서버가 최신순 정렬해서 보낸다고 가정)\n    feedbacks\
          \ = feedbacks[:15]\n\n    slim = []\n    for f in feedbacks:\n        original\
          \ = f.get(\"original_score\")\n        user = f.get(\"user_score\")\n  \
          \      reason = str(f.get(\"reason\", \"\")).strip()\n\n        # 필수 필드\
          \ 누락 시 스킵\n        if original is None or user is None or not reason:\n\
          \            continue\n\n        try:\n            original = int(original)\n\
          \            user = int(user)\n        except (ValueError, TypeError):\n\
          \            continue\n\n        # delta 자동 계산\n        delta = user - original\n\
          \n        slim.append({\n            \"original_score\": original,\n   \
          \         \"user_score\": user,\n            \"delta\": delta,\n       \
          \     \"reason\": reason\n        })\n\n    if not slim:\n        return\
          \ {\n            \"filtered_feedback\": \"[]\",\n            \"has_feedback\"\
          : False\n        }\n\n    return {\n        \"filtered_feedback\": json.dumps(slim,\
          \ ensure_ascii=False),\n        \"has_feedback\": True\n    }"
        code_language: python3
        outputs:
          filtered_feedback:
            children: null
            type: string
          has_feedback:
            children: null
            type: boolean
        selected: false
        title: 코드 1
        type: code
        variables:
        - value_selector:
          - '1774507020143'
          - feedback_history
          value_type: string
          variable: feedback_history
      height: 52
      id: '1778581060421'
      position:
        x: 439.90478076727595
        y: 311.39350165619766
      positionAbsolute:
        x: 439.90478076727595
        y: 311.39350165619766
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -24.509074770148118
      y: -49.84032188906593
      zoom: 1.2599210498948732
  rag_pipeline_variables: []
