workflows/importance_scoring.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: importance_scoring
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.20@de0063a630a6d1b2c025fb84f3462ba5151fb60618309cd595c3f4711b1df847
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1774524091887-source-1774607960090-target
      source: '1774524091887'
      sourceHandle: source
      target: '1774607960090'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1774507020143-source-1775742352885-target
      source: '1774507020143'
      sourceHandle: source
      target: '1775742352885'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1775742352885-source-1774524091887-target
      source: '1775742352885'
      sourceHandle: source
      target: '1774524091887'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 시작
        type: start
        variables:
        - default: ''
          hint: ''
          label: user_id
          options: []
          placeholder: ''
          required: true
          type: number
          variable: user_id
        - default: ''
          hint: ''
          label: articles
          max_length: null
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: articles
      height: 134
      id: '1774507020143'
      position:
        x: 70.74067104295028
        y: 290.39350165619766
      positionAbsolute:
        x: 70.74067104295028
        y: 290.39350165619766
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(llm_output: str) -> dict:\n    import json\n    import re\n\
          \n    if not llm_output:\n        return {\"items\": []}\n\n    text = re.sub(r'```json|```',\
          \ '', llm_output).strip()\n    match = re.search(r'\\{[\\s\\S]*\\}', text)\n\
          \    if not match:\n        return {\"items\": []}\n\n    try:\n       \
          \ parsed = json.loads(match.group())\n    except json.JSONDecodeError:\n\
          \        return {\"items\": []}\n\n    items = parsed.get(\"items\") or\
          \ parsed.get(\"articles\") or []\n\n    result = []\n    for item in items:\n\
          \        score = item.get(\"score\", 50)\n        try:\n            score\
          \ = int(float(score))\n        except (ValueError, TypeError):\n       \
          \     importance_map = {\"high\": 80, \"medium\": 50, \"low\": 20}\n   \
          \         score = importance_map.get(str(item.get(\"importance\", \"\")).lower(),\
          \ 50)\n\n        result.append({\n            \"article_id\": item.get(\"\
          article_id\"),\n            \"score\": max(1, min(100, score)),\n      \
          \      \"reason\": item.get(\"reason\", \"\")\n        })\n\n    return\
          \ {\"items\": result}"
        code_language: python3
        outputs:
          items:
            children: null
            type: array[object]
        selected: false
        title: 코드
        type: code
        variables:
        - value_selector:
          - '1775742352885'
          - text
          value_type: string
          variable: llm_output
      height: 51
      id: '1774524091887'
      position:
        x: 721.1878319446481
        y: 282
      positionAbsolute:
        x: 721.1878319446481
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '1774524091887'
          - items
          value_type: array[object]
          variable: items
        selected: false
        title: 출력
        type: end
      height: 88
      id: '1774607960090'
      position:
        x: 1023.1878319446481
        y: 282
      positionAbsolute:
        x: 1023.1878319446481
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: bd84d7ff-0925-4b10-ad86-a5c46050560f
          role: system
          text: 'You are a news importance evaluator.

            Analyze each article and assign an importance score.


            Scoring criteria:

            - 80-100: Breaking news, major global/national impact

            - 50-79: Significant but not urgent

            - 20-49: General interest, low urgency

            - 1-19: Minor or niche topics


            Return ONLY this JSON structure, nothing else:

            {"items": [{"article_id": 101, "score": 85, "reason": "한국어 이유"}, {"article_id":
            102, "score": 60, "reason": "한국어 이유"}]}


            Rules:

            - score must be integer 1-100

            - reason must be one sentence in Korean

            - Do NOT include title, content, summary or any other fields

            - Do NOT use markdown or code blocks'
        - id: f8c15cf5-129d-4f36-b10c-f93e6b598093
          role: user
          text: 'Evaluate these articles and return json only:


            Articles: {{#1774507020143.articles#}}'
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1775742352885'
      position:
        x: 369.48046645537227
        y: 289.3067667936716
      positionAbsolute:
        x: 369.48046645537227
        y: 289.3067667936716
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: 173.12602572035058
      y: 112.75532315207062
      zoom: 0.9201876506248752
  rag_pipeline_variables: []
