workflows/rag_chat.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: rag_chat
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.3.3@cfb7804d9acf3e0f24b33e97e22c2600249c471f33428efa33597959b513ad2d
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.22@e9e5725768b1d79274bf5dee2052f4d99d736f104cc98dad57392c5b70412502
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1774698064048-source-1774698110395-target
      selected: false
      source: '1774698064048'
      sourceHandle: source
      target: '1774698110395'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1774701493013-source-1774703757574-target
      source: '1774701493013'
      sourceHandle: source
      target: '1774703757574'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1774701658947-source-1774703765208-target
      source: '1774701658947'
      sourceHandle: source
      target: '1774703765208'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: question-classifier
      id: 1774698110395-false-1775823228548-target
      source: '1774698110395'
      sourceHandle: 'false'
      target: '1775823228548'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1775823228548-2-1775823749881-target
      source: '1775823228548'
      sourceHandle: '2'
      target: '1775823749881'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1775823749881-source-1775823756141-target
      source: '1775823749881'
      sourceHandle: source
      target: '1775823756141'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1774698110395-true-1778313383374-target
      source: '1774698110395'
      sourceHandle: 'true'
      target: '1778313383374'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: knowledge-retrieval
      id: 1778313383374-source-1774698256521-target
      source: '1778313383374'
      sourceHandle: source
      target: '1774698256521'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: if-else
      id: 1774698256521-source-1778313441702-target
      source: '1774698256521'
      sourceHandle: source
      target: '1778313441702'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1778313441702-true-1774701493013-target
      source: '1778313441702'
      sourceHandle: 'true'
      target: '1774701493013'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1778313441702-false-1778313541248-target
      source: '1778313441702'
      sourceHandle: 'false'
      target: '1778313541248'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1775823228548-1-1778314062394-target
      source: '1775823228548'
      sourceHandle: '1'
      target: '1778314062394'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: knowledge-retrieval
      id: 1778314062394-source-1775823595011-target
      source: '1778314062394'
      sourceHandle: source
      target: '1775823595011'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: if-else
      id: 1775823595011-source-1778314123829-target
      source: '1775823595011'
      sourceHandle: source
      target: '1778314123829'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1778314123829-true-1774701658947-target
      source: '1778314123829'
      sourceHandle: 'true'
      target: '1774701658947'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1778314123829-false-1778314206666-target
      source: '1778314123829'
      sourceHandle: 'false'
      target: '1778314206666'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 시작
        type: start
        variables:
        - default: ''
          hint: ''
          label: user_id
          options: []
          placeholder: ''
          required: true
          type: number
          variable: user_id
        - default: ''
          hint: ''
          label: article_id
          options: []
          placeholder: ''
          required: false
          type: number
          variable: article_id
      height: 135
      id: '1774698064048'
      position:
        x: 70.90570060093762
        y: 261
      positionAbsolute:
        x: 70.90570060093762
        y: 261
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: 86678690-6eb0-4802-8af6-19a5f27e3ff9
            value: ''
            varType: number
            variable_selector:
            - '1774698064048'
            - article_id
          id: 'true'
          logical_operator: and
        selected: false
        title: IF/ELSE
        type: if-else
      height: 124
      id: '1774698110395'
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - fDDTReOVyoWQXFuW7CDyHOK6c38S28xeWm4j/VTEln96jflhdhmZCliuJTFrTQb4
        metadata_filtering_conditions:
          conditions:
          - comparison_operator: '='
            id: be3fd6e0-eba9-41aa-bef6-f8c336f6efdc
            metadata_id: 3d02044f-35ed-422e-a0ae-747d2e6deb64
            name: article_id
            value: '{{#1774698064048.article_id#}}'
          logical_operator: and
        metadata_filtering_mode: manual
        metadata_model_config:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: langgenius/openai/openai
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          score_threshold: 0.5
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0
            vector_setting:
              embedding_model_name: text-embedding-3-small
              embedding_provider_name: langgenius/openai/openai
              vector_weight: 1
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1778313383374'
        - text
        retrieval_mode: multiple
        selected: false
        title: 지식 검색
        type: knowledge-retrieval
      height: 90
      id: '1774698256521'
      position:
        x: 1000.1885987981248
        y: 222.04421957119837
      positionAbsolute:
        x: 1000.1885987981248
        y: 222.04421957119837
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1774698256521'
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 6
        model:
          completion_params:
            temperature: 0.4
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 4f5ef419-f59a-4d48-bf04-ce5c4e20cb75
          role: system
          text: "당신은 특정 뉴스 기사에 대한 질의응답 전문 어시스턴트입니다.\n사용자가 선택한 기사를 바탕으로 정확하고 신뢰할 수\
            \ 있는 답변을 제공합니다.\n\n---\n\n[답변 원칙]\n\n1. 근거 기반 답변\n   - 반드시 제공된 컨텍스트(검색된\
            \ 기사 내용)만을 근거로 답변하세요.\n   - 컨텍스트에 없는 내용은 절대 추측하거나 보완하지 마세요.\n\n2. 답변 구성\n\
            \   - 핵심 사실을 먼저 1~2문장으로 직접 답변하세요.\n   - 필요한 경우 배경·맥락을 추가하되, 묻지 않은 정보를\
            \ 나열하지 마세요.\n   - 단순 사실 확인 → 1~2문장\n   - 설명·분석 요청 → 3~5문장, 구조화하여 답변\n\
            \   - 비교·종합 요청 → 항목별로 나누어 명확하게 정리\n\n3. 정보 부족 시\n   - 컨텍스트에 근거가 없으면: \"\
            해당 기사에서는 그 내용을 확인할 수 없습니다.\"\n   - 부분적으로만 확인 가능한 경우: 확인된 내용을 먼저 답변하고,\
            \ \"나머지 내용은 기사에서 확인되지 않습니다.\"를 명시하세요.\n\n4. 출처 표시\n   - 답변 마지막에 아래 형식으로\
            \ 출처를 표시하세요.\n   - 컨텍스트에 기사 제목이 포함된 경우에만 표시합니다.\n   형식: \U0001F4F0 참고\
            \ 기사: [기사 제목]\n\n5. 언어 및 톤\n   - 답변은 반드시 한국어로 작성하세요.\n   - 친절하되 불필요한 감탄사나\
            \ 과도한 공손 표현은 피하세요.\n   - 수치, 날짜, 고유명사는 원문 그대로 정확히 사용하세요."
        - id: 023b9843-6822-41dd-be1b-ac51d88e5d52
          role: user
          text: '사용자 질문: {{#sys.query#}}/


            검색 결과: {{#context#}}


            위 검색 결과만 바탕으로 답변하세요./'
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1774701493013'
      position:
        x: 1675.4914799304631
        y: 81.41060908299235
      positionAbsolute:
        x: 1675.4914799304631
        y: 81.41060908299235
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1775823595011'
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 6
        model:
          completion_params:
            temperature: 0.4
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 061824fb-8d18-4753-9518-31cb6cb51387
          role: system
          text: "당신은 뉴스 데이터베이스 기반 질의응답 전문 어시스턴트입니다.\n여러 기사에서 검색된 정보를 종합하여 사용자의 질문에\
            \ 답변합니다.\n\n---\n\n[답변 원칙]\n\n1. 근거 기반 답변\n   - 반드시 제공된 컨텍스트(검색된 기사들)만을\
            \ 근거로 답변하세요.\n   - 컨텍스트에 없는 내용은 절대 추측하거나 보완하지 마세요.\n\n2. 다중 기사 종합\n  \
            \ - 여러 기사의 관련 내용을 선별하여 일관된 답변을 구성하세요.\n   - 기사 간 정보가 상충할 경우: 두 관점을 모두\
            \ 언급하고 \"A 기사에서는 ~, 반면 B 기사에서는 ~\"로 맥락을 구분하세요.\n   - 질문과 가장 관련 높은 정보를\
            \ 우선하고, 주변 정보는 간략히만 언급하세요.\n\n3. 답변 구성\n   - 핵심 답변 → 관련 세부 내용 → (필요 시)\
            \ 배경 설명 순으로 구성하세요.\n   - 단순 사실 확인 → 1~2문장\n   - 설명·분석 요청 → 3~5문장\n   -\
            \ 트렌드·동향 요청 → 항목별로 나누어 정리\n\n4. 정보 부족 시\n   - 검색된 기사에 충분한 정보가 없으면: \"\
            현재 보유한 뉴스 데이터에서는 관련 정보를 찾기 어렵습니다. 다른 키워드로 질문해 주시겠어요?\"\n   - 부분 정보만 있을\
            \ 경우: 확인된 내용을 먼저 제공하고 한계를 명시하세요.\n\n5. 출처 표시\n   - 답변 마지막에 아래 형식으로 출처를\
            \ 표시하세요.\n   - 컨텍스트에 기사 제목이 포함된 경우에만, 최대 2건까지 표시합니다.\n   형식: \U0001F4F0\
            \ 참고 기사: [기사 제목1], [기사 제목2]\n\n6. 언어 및 톤\n   - 답변은 반드시 한국어로 작성하세요.\n \
            \  - 친절하되 불필요한 감탄사나 과도한 공손 표현은 피하세요.\n   - 수치, 날짜, 고유명사는 원문 그대로 정확히 사용하세요."
        - id: 3827fb15-a16d-4f16-a04f-ce94597a6b72
          role: user
          text: '사용자 질문: {{#sys.query#}}


            검색 결과: {{#context#}}


            위 검색 결과만 바탕으로 답변하세요.'
        selected: false
        title: LLM 2
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1774701658947'
      position:
        x: 1918.178730078037
        y: 367.78789720667294
      positionAbsolute:
        x: 1918.178730078037
        y: 367.78789720667294
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1774701493013.text#}}'
        selected: false
        title: 답변
        type: answer
        variables: []
      height: 102
      id: '1774703757574'
      position:
        x: 1979.0654132711782
        y: 81.41060908299235
      positionAbsolute:
        x: 1979.0654132711782
        y: 81.41060908299235
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1774701658947.text#}}'
        selected: false
        title: 답변 2
        type: answer
        variables: []
      height: 102
      id: '1774703765208'
      position:
        x: 2209.344028554264
        y: 367.78789720667294
      positionAbsolute:
        x: 2209.344028554264
        y: 367.78789720667294
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: '1'
          name: "뉴스, 기사, 사건, 이슈, 특정 인물·기업·국가의 최근 동향에 관한 질문.\n  예: \"요즘 환율 어때?\", \"\
            삼성 관련 기사 있어?\", \"이 기사 내용 설명해줘\", \"AI 규제 어떻게 됐어?\""
        - id: '2'
          name: "인사, 잡담, 서비스 사용법 문의, 뉴스와 무관한 일상 대화.\n  예: \"안녕\", \"뭐 할 수 있어?\", \"\
            오늘 기분이 안 좋아\", \"고마워\""
        instruction: "사용자의 질문을 아래 두 클래스 중 하나로 분류하세요.\n\n클래스 1 — 뉴스/기사 질문\n  뉴스, 기사,\
          \ 사건, 이슈, 특정 인물·기업·국가의 최근 동향에 관한 질문.\n  예: \"요즘 환율 어때?\", \"삼성 관련 기사 있어?\"\
          , \"이 기사 내용 설명해줘\", \"AI 규제 어떻게 됐어?\"\n\n클래스 2 — 일반 대화\n  인사, 잡담, 서비스 사용법\
          \ 문의, 뉴스와 무관한 일상 대화.\n  예: \"안녕\", \"뭐 할 수 있어?\", \"오늘 기분이 안 좋아\", \"고마워\"\
          \n\n판단이 애매하거나 뉴스 관련 가능성이 있으면 클래스 1로 분류하세요."
        instructions: ''
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        query_variable_selector:
        - '1774698064048'
        - sys.query
        selected: false
        title: 질문 분류기
        type: question-classifier
        vision:
          enabled: false
      height: 170
      id: '1775823228548'
      position:
        x: 708.0277717785882
        y: 360.8626837301496
      positionAbsolute:
        x: 708.0277717785882
        y: 360.8626837301496
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - fDDTReOVyoWQXFuW7CDyHOK6c38S28xeWm4j/VTEln96jflhdhmZCliuJTFrTQb4
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          score_threshold: 0.5
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0
            vector_setting:
              embedding_model_name: text-embedding-3-small
              embedding_provider_name: langgenius/openai/openai
              vector_weight: 1
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1778314062394'
        - text
        retrieval_mode: multiple
        selected: false
        title: 지식 검색 2
        type: knowledge-retrieval
      height: 90
      id: '1775823595011'
      position:
        x: 1320.9774340736208
        y: 367.78789720667294
      positionAbsolute:
        x: 1320.9774340736208
        y: 367.78789720667294
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 6
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 17dcccf4-ecb5-4980-b0fd-a951f2ba6253
          role: system
          text: "당신은 AI 뉴스 큐레이션 서비스의 챗봇 어시스턴트입니다.\n사용자의 인사와 일상적인 대화에 자연스럽고 친근하게 응답합니다.\n\
            \n---\n\n[행동 지침]\n\n1. 인사 및 잡담\n   - 짧고 따뜻하게 응대하세요. 1~2문장이면 충분합니다.\n \
            \  - 대화를 길게 이어가려 하지 말고, 자연스럽게 뉴스 서비스로 연결하세요.\n   예: \"안녕하세요! 궁금한 뉴스가 있으시면\
            \ 편하게 물어보세요 \U0001F60A\"\n\n2. 서비스 안내\n   - 이 서비스로 무엇을 할 수 있는지 묻는 경우:\n\
            \     \"저는 뉴스 기사를 기반으로 질문에 답변해 드려요. 특정 기사를 선택하신 후 질문하시거나, '반도체 요즘 동향 알려줘'처럼\
            \ 주제로 바로 질문하셔도 됩니다!\"\n\n3. 뉴스 관련 질문 유도\n   - 뉴스/기사 관련 질문이 들어오면 바로 답변하려\
            \ 하지 말고 안내하세요.\n   예: \"그 주제 관련 기사를 찾아드릴 수 있어요. 기사를 선택하시거나 주제를 조금 더 구체적으로\
            \ 말씀해 주시면 도움이 될 것 같아요!\"\n\n4. 범위 외 질문\n   - 서비스 범위를 벗어난 질문(날씨, 맛집, 개인\
            \ 상담 등)은 간결하게 안내하고 뉴스 도움을 제안하세요.\n   예: \"저는 뉴스 관련 질문에 특화되어 있어서 그 부분은\
            \ 도움드리기 어렵네요. 혹시 관심 있는 뉴스 주제가 있으신가요? \U0001F60A\"\n\n5. 언어 및 톤\n   - 답변은\
            \ 한국어로 작성하세요.\n   - 1~3문장으로 간결하게 답변하세요.\n   - 이모지는 자연스러운 상황에서 1~2개 사용\
            \ 가능합니다.\n   - 과도하게 격식체를 사용하거나 반복적인 존댓말 표현을 쌓지 마세요."
        - id: 61c78fb7-cecd-4b0a-b837-f3ad42a4f9b9
          role: user
          text: '사용자 질문: {{#sys.query#}}'
        selected: false
        title: LLM 3
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1775823749881'
      position:
        x: 1012.8973548080326
        y: 496.66056643135016
      positionAbsolute:
        x: 1012.8973548080326
        y: 496.66056643135016
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1775823749881.text#}}'
        selected: false
        title: 답변 3
        type: answer
        variables: []
      height: 102
      id: '1775823756141'
      position:
        x: 1318.178730078037
        y: 496.66056643135016
      positionAbsolute:
        x: 1318.178730078037
        y: 496.66056643135016
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 6694b3bd-a42c-4155-a074-b47f27dffe65
          role: system
          text: '당신은 검색 쿼리 최적화 전문가입니다.

            사용자의 구어체 질문을 뉴스 데이터베이스 검색에 최적화된 형태로 변환합니다.


            [변환 규칙]

            1. 질문의 핵심 키워드와 주제를 추출하세요.

            2. 구어체 표현(조사, 어미, 감탄사, 의문형 어미)을 제거하세요.

            3. 검색에 유리한 명사형·핵심어 중심으로 재구성하세요.

            4. 질문에 복수의 주제가 포함된 경우, 가장 핵심이 되는 주제 하나로 집중하세요.

            5. 원래 질문의 의도를 왜곡하지 마세요.

            6. 재작성된 쿼리만 출력하세요. 설명, 부가 문장, 따옴표 없이.


            [예시]

            입력: 요즘 미국이랑 중국 무역 관계가 어떻게 돼가고 있어?

            출력: 미국 중국 무역 관계 최신 동향


            입력: 삼성전자 실적 발표 있었어?

            출력: 삼성전자 실적 발표


            입력: AI 규제 관련해서 유럽에서 무슨 일 있었어?

            출력: 유럽 AI 규제 정책


            입력: 이 기사에서 금리 얘기 어디 나와?

            출력: 금리


            입력: 반도체 요즘 어때?

            출력: 반도체 업황 동향'
        - id: d9ebbc60-483e-4df7-bb0f-e0dae70e49a7
          role: user
          text: '{{#sys.query#}}'
        selected: false
        title: 쿼리재작성1
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1778313383374'
      position:
        x: 700.1885987981248
        y: 222.04421957119837
      positionAbsolute:
        x: 700.1885987981248
        y: 222.04421957119837
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: c4d977e9-5400-45ef-8cd6-bcee8f6c2ec8
            value: ''
            varType: array[object]
            variable_selector:
            - '1774698256521'
            - result
          id: 'true'
          logical_operator: and
        selected: false
        title: IF/ELSE 2
        type: if-else
      height: 140
      id: '1778313441702'
      position:
        x: 1347.6600957934368
        y: 181.96270661031372
      positionAbsolute:
        x: 1347.6600957934368
        y: 181.96270661031372
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 선택하신 기사에서 관련 내용을 찾지 못했습니다. 질문을 다르게 표현하시거나, 다른 기사를 선택해 다시 시도해 주세요.
        selected: false
        title: 답변 4
        type: answer
        variables: []
      height: 148
      id: '1778313541248'
      position:
        x: 1675.4914799304631
        y: 201.22831640246937
      positionAbsolute:
        x: 1675.4914799304631
        y: 201.22831640246937
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 68868945-c2cd-4f60-855c-c9cb33f0464e
          role: system
          text: '당신은 검색 쿼리 최적화 전문가입니다.

            사용자의 구어체 질문을 뉴스 데이터베이스 검색에 최적화된 형태로 변환합니다.


            [변환 규칙]

            1. 질문의 핵심 키워드와 주제를 추출하세요.

            2. 구어체 표현(조사, 어미, 감탄사, 의문형 어미)을 제거하세요.

            3. 검색에 유리한 명사형·핵심어 중심으로 재구성하세요.

            4. 질문에 복수의 주제가 포함된 경우, 가장 핵심이 되는 주제 하나로 집중하세요.

            5. 원래 질문의 의도를 왜곡하지 마세요.

            6. 재작성된 쿼리만 출력하세요. 설명, 부가 문장, 따옴표 없이.


            [예시]

            입력: 요즘 미국이랑 중국 무역 관계가 어떻게 돼가고 있어?

            출력: 미국 중국 무역 관계 최신 동향


            입력: 삼성전자 실적 발표 있었어?

            출력: 삼성전자 실적 발표


            입력: AI 규제 관련해서 유럽에서 무슨 일 있었어?

            출력: 유럽 AI 규제 정책


            입력: 이 기사에서 금리 얘기 어디 나와?

            출력: 금리


            입력: 반도체 요즘 어때?

            출력: 반도체 업황 동향'
        - id: 0d7cffda-a920-40c4-b437-6ac2698cdb44
          role: user
          text: '{{#sys.query#}}'
        selected: false
        title: 쿼리재작성2
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1778314062394'
      position:
        x: 1019.1818609034901
        y: 367.78789720667294
      positionAbsolute:
        x: 1019.1818609034901
        y: 367.78789720667294
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: bacfc99e-b68e-4240-80c6-890f792a875b
            value: ''
            varType: array[object]
            variable_selector:
            - '1775823595011'
            - result
          id: 'true'
          logical_operator: and
        selected: false
        title: IF/ELSE 3
        type: if-else
      height: 140
      id: '1778314123829'
      position:
        x: 1618.178730078037
        y: 367.78789720667294
      positionAbsolute:
        x: 1618.178730078037
        y: 367.78789720667294
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '현재 보유한 뉴스 데이터에서 관련 기사를 찾지 못했습니다. 다른 키워드로 다시 질문해 주시겠어요?

          예: "반도체 수출", "금리 인상", "대통령 발언" 처럼 핵심 단어 위주로 질문하시면 더 잘 찾아드릴 수 있어요.'
        selected: false
        title: 답변 5
        type: answer
        variables: []
      height: 180
      id: '1778314206666'
      position:
        x: 1918.178730078037
        y: 494.78789720667294
      positionAbsolute:
        x: 1918.178730078037
        y: 494.78789720667294
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -218.98644390172694
      y: 112.66303469486635
      zoom: 1.0800597388923054
  rag_pipeline_variables: []
