workflows/summary_ko.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: summary_ko
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.20@de0063a630a6d1b2c025fb84f3462ba5151fb60618309cd595c3f4711b1df847
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1774626167151-source-1774627541126-target
      source: '1774626167151'
      sourceHandle: source
      target: '1774627541126'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1774624088980-source-1778242207084-target
      source: '1774624088980'
      sourceHandle: source
      target: '1778242207084'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1778242207084-source-1774626167151-target
      source: '1778242207084'
      sourceHandle: source
      target: '1774626167151'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 시작
        type: start
        variables:
        - default: ''
          hint: ''
          label: user_id
          options: []
          placeholder: ''
          required: true
          type: number
          variable: user_id
        - default: ''
          hint: ''
          label: message
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: message
        - default: ''
          hint: ''
          label: article_id
          options: []
          placeholder: ''
          required: true
          type: number
          variable: article_id
        - default: ''
          hint: ''
          label: title
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: title
        - default: ''
          hint: ''
          label: content
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: content
      height: 213
      id: '1774624088980'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            max_output_tokens: 2000
            temperature: 0.3
          mode: chat
          name: gemini-2.5-pro
          provider: langgenius/gemini/google
        prompt_template:
        - id: cafc76fc-d901-439c-8ef4-a9b7ae226906
          role: system
          text: "당신은 뉴스 기사 요약 전문가입니다. 입력된 기사 1건을 한국어로 정확하고 간결하게 요약합니다.\n\n---\n\n\
            [언어 처리]\n- lang_hint가 \"korean\"이면 바로 요약하세요.\n- lang_hint가 \"non-korean\"\
            이면 내용을 완전히 이해한 뒤 한국어로 번역하여 요약하세요.\n- 출력은 반드시 한국어로 작성하세요.\n\n---\n\n[요약\
            \ 구조]\n아래 순서로 문장을 구성하세요.\n1. [핵심 사실 문장]: 누가/무엇을/어떻게 했는지 — 가장 중요한 사실 1문장\n\
            2. [배경·맥락 문장]: 왜 이 일이 일어났는지, 어떤 상황에서인지 — 1문장\n3. [결과·전망 문장]: 어떤 결과가 나왔거나\
            \ 예상되는지 — 필요할 때만 1문장\n\n출력은 2~3문장으로 작성하세요.\n---\n\n[짧은 본문 처리]\n- is_short가\
            \ true (200자 미만)이면:\n  - 요약 구조 대신 핵심 내용을 1문장으로 압축하세요.\n  - 요약문 끝에 \"(본문\
            \ 내용이 짧아 요약이 제한될 수 있습니다.)\"를 부기하세요.\n\n---\n\n[금지 사항]\n- 추측, 과장, 원문에 없는\
            \ 정보 추가 금지\n- 광고성 문구, 불필요한 수식어, 인사말, 머리말 금지\n- \"기사 id:\", \"요약본:\", JSON,\
            \ 코드블록, 설명 문장 출력 금지\n- 오직 최종 요약문만 반환하세요.\n\n---\n\n[Few-shot 예시]\n\n예시\
            \ 1 — 영어 기사, 일반 케이스\nlang_hint: non-korean\nis_short: false\ntitle: \"\
            Fed Raises Interest Rates by 25 Basis Points Amid Inflation Concerns\"\
            \ncontent: \"The Federal Reserve raised its benchmark interest rate by\
            \ 25 basis points on Wednesday, bringing it to a 22-year high...\"\n\n\
            출력:\n미국 연방준비제도(Fed)가 인플레이션 억제를 위해 기준금리를 0.25%포인트 인상해 22년 만의 최고 수준에 도달했다.\
            \ 물가 상승세가 지속되는 가운데 추가 긴축 가능성을 차단하지 않겠다는 신호로 해석된다.\n\n예시 2 — 영어 기사, 짧은\
            \ 본문\nlang_hint: non-korean\nis_short: true\ntitle: \"Apple Delays New\
            \ Product Launch\"\ncontent: \"Apple has postponed its scheduled product\
            \ event due to supply chain issues.\"\n\n출력:\n애플이 공급망 문제로 신제품 발표 행사를 연기했다.\
            \ (본문 내용이 짧아 요약이 제한될 수 있습니다.)\n\n예시 3 — 한국어 기사, 일반 케이스\nlang_hint: korean\n\
            is_short: false\ntitle: \"서울시, 대중교통 심야 운행 확대 추진\"\ncontent: \"서울시가 오는\
            \ 하반기부터 지하철과 버스의 심야 운행 시간을 현행보다 1시간 연장하는 방안을 검토 중이다...\"\n\n출력:\n서울시가\
            \ 하반기부터 지하철·버스 심야 운행을 1시간 연장하는 방안을 검토 중이다. 늦은 귀가 시민의 편의를 높이기 위해 관계 기관과\
            \ 협의를 진행하고 있다."
        - id: 6d56fc6f-60f4-4ead-a950-021d55338300
          role: user
          text: 'article_id: {{#1774624088980.article_id#}}

            title: {{#1774624088980.title#}}

            content: {{#1774624088980.content#}}

            lang_hint: {{#1778242207084.lang_hint#}}

            is_short; {{#1778242207084.is_short#}}

            message: {{#1774624088980.message#}}'
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1774626167151'
      position:
        x: 985
        y: 282
      positionAbsolute:
        x: 985
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1774626167151'
          - text
          value_type: string
          variable: summary_text
        selected: false
        title: 출력
        type: end
      height: 88
      id: '1774627541126'
      position:
        x: 1281.7953982615866
        y: 282
      positionAbsolute:
        x: 1281.7953982615866
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(content: str) -> dict:\n    content = content.strip() if content\
          \ else \"\"\n    char_count = len(content)\n    is_short = char_count <\
          \ 200\n    korean_chars = sum(1 for c in content if '\\uAC00' <= c <= '\\\
          uD7A3')\n    ratio = korean_chars / max(char_count, 1)\n    lang_hint =\
          \ \"korean\" if ratio > 0.3 else \"non-korean\"\n    return {\n    \"char_count\"\
          : char_count,\n    \"is_short\": \"true\" if is_short else \"false\",\n\
          \    \"lang_hint\": lang_hint\n}"
        code_language: python3
        outputs:
          char_count:
            children: null
            type: number
          is_short:
            children: null
            type: string
          lang_hint:
            children: null
            type: string
        selected: false
        title: 코드
        type: code
        variables:
        - value_selector:
          - '1774624088980'
          - content
          value_type: string
          variable: content
      height: 52
      id: '1778242207084'
      position:
        x: 685
        y: 282
      positionAbsolute:
        x: 685
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -617.5785753061314
      y: -47.49274294163297
      zoom: 1.5874010519681994
  rag_pipeline_variables: []
